/* General Page */
.terms-page {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #333;
}

/* Banner */
.top-banner {
  background: #001f3f;
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
}

/* Navbar */
.logo {
  height: 40px;
}
.nav-link {
  font-weight: 500;
}
button.btn-success {
  background-color: #78d13d;
  border: none;
}

/* Terms Section */
.terms-title {
  color: #4CAF50;
  font-weight: bold;
}
.terms-text {
  margin-top: 20px;
  line-height: 1.6;
  font-size: 15px;
}

/* Testimonial */
.testimonial-card {
  background: #c8f5b8;
  border: none;
  border-radius: 10px;
}
.quote-icon {
  font-size: 40px;
  color: gray;
}
.testimonial-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

/* Footer */
.footer {
  background: #6FD943 ;
  border-top: 1px solid #ddd;
}
.footer-logo {
  font-weight: bold;
  font-size: 22px;
}
.footer-links {
  list-style: none;
  padding: 0;
}
.footer-links li {
  margin-bottom: 8px;
}
.footer-links a {
  text-decoration: none;
  color: #333;
}
.footer-links a:hover {
  text-decoration: underline;
}
